@if (User.Identity.IsAuthenticated)
{
<<<<<<< HEAD
    string _role;
    using (AradEntities db = new AradEntities())
    {
        _role = db.Account.Where(q => q.PhoneNumber == User.Identity.Name)?.Select(q => q.Role.Title)?.FirstOrDefault() ?? null;
    }
    <p>
        @switch (_role)
        {
            case "Admin":
                <a href="@Url.Action("Index", "AdminHome", new { area = "Admin" }, null)" class="btn btn-primary btn-sm">پنل مدیریت</a>
                <span>|</span>
                break;
            case "SalonOwner":
                <a href="@Url.Action("Index", "Salon", new { area = "SalonOwner" }, null)" class="btn btn-primary btn-sm">مدیریت مجموعه‌ها</a>
                <span>|</span>
                break;
            case "TeamOwner":
                <a href="@Url.Action("Index", "Team", new { area = "TeamOwner" }, null)" class="btn btn-primary btn-sm">مدیریت تیم‌ها</a>
                <span>|</span>
                break;
            case "Coach":

                break;
            case "Athlete":

                break;
            case "Referee":
                <a href="@Url.Action("Index", "Play", new { area = "Referee" }, null)" class="btn btn-primary btn-sm">مدیریت داوری‌ها</a>
                <span>|</span>
                break;

        }
        <a href="@Url.Action("LogOff", "Home")" class="btn btn-danger btn-sm">LogOut</a> | @User.Identity.Name Wellcom
=======
    <p>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "AdminHome", new { area = "Admin" }, null)" class="btn btn-primary btn-sm">پنل ادمین</a>
            <span>|</span>
        }
        else
        {
            <a href="@Url.Action("Details", "UserInformations", new { email = User.Identity.Name }, null)" class="btn btn-primary btn-sm">پنل کاربری</a>
            <span>|</span>
        }
    <a href="@Url.Action("LogOff", "Home")" class="btn btn-danger btn-sm">خروج</a> | @User.Identity.Name Wellcom
>>>>>>> aa73389685fc8c13d5ef59744930e1a7f20df9ed
    </p>
}
else
{
<<<<<<< HEAD
    <p><a href="@Url.Action("Register", "Home")" class="btn btn-success btn-sm">Register</a> | <a href="@Url.Action("Login", "Home")" class="btn btn-primary btn-sm">Login</a></p>
=======
    <p><a href="@Url.Action("Register", "Home")" class="btn btn-success btn-sm">ثبت نام</a> | <a href="@Url.Action("Login", "Home")" class="btn btn-primary btn-sm">ورود</a></p>
>>>>>>> aa73389685fc8c13d5ef59744930e1a7f20df9ed

}
