@model Arad.Models.Team_Account

@{
    ViewBag.Title = "حذف عضویت";
}

<h2>Delete</h2>

<h3>آیا از حدف این مندج اطمینان دارید؟</h3>
<div>
    <h4>عضویت</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            وضعیت عضویت
        </dt>

        <dd>
            @(Arad.Classes.PublicFunction.EnumPersianName((Arad.Classes.Enums.Team_Account_Status)Model.Status))
        </dd>

        <dt>
            نام ورزشکار
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Person.Name)
        </dd>

        <dt>
            نام تیم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    }
</div>
